* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body {
    height: 100%;
    width: 100%;
}
#text a:nth-child(4){
    background-color: #000;
}
#text a:nth-child(1){
    background-color: #1f2024;
}
#text a:nth-child(1):hover{
    background-color: #000;
}
#text a:nth-child(2){
    background-color: #1f2024;
}
#text a:nth-child(2):hover{
    background-color: #000;
}
#text a:nth-child(3){
    background-color: #1f2024;
}
#text a:nth-child(3):hover{
    background-color: #000;
}
#ul-list{
    padding-left: 1vw;
}
#ul-list a{
    color: #00759a;
}
#ul-list a:hover{
    text-decoration: none;
}