* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body {
    height: 100%;
    width: 100%;
}
#text a:nth-child(5){
    background-color: #000;
}
#text a:nth-child(1){
    background-color: #1f2024;
}
#text a:nth-child(1):hover{
    background-color: #000;
}
#text a:nth-child(2){
    background-color: #1f2024;
}
#text a:nth-child(2):hover{
    background-color: #000;
}
#text a:nth-child(3){
    background-color: #1f2024;
}
#text a:nth-child(3):hover{
    background-color: #000;
}
#text a:nth-child(4){
    background-color: #1f2024;
}
#text a:nth-child(4):hover{
    background-color: #000;
}
#content-laft h1{
    margin-top: 1vw;
}
#table{
    margin-left: 4vw;
}
a:hover{
    text-decoration: none;
}
#content{
    height: auto;
}
#content-laft{
    /* position: relative; */
    height: 36vw;
}
.center{
    width: 61%;
}
.form-input{
    margin-bottom: 1vw;
    display: flex;
    margin: 0.5vw;
}
.input{
    padding-left: 0.5vw;
    width: 40vw;
    height: 30px;
}
#ContactForm tr{
    margin-bottom: 1vw;
}
table textarea{
    width: 40vw;
    height: 30vh;
}
#last-button{
    display: flex;
    margin-top: 13vw;
    margin-right: 1.7vw;
    /* margin-bottom: 0; */
}